.tools-col {
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    padding: 0;
    opacity: 0;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    @extend %trans;
    &.tools-show {
        opacity: 1;
        @extend %anmSmallLeftIn;
    }
    &.hide {
        @extend %anmSmallLeftOut;
        z-index: 0;
    }
    .tools-wrap, .tools-section {
        height: 100%;
        color: #e5e5e5;
        width: 360px;
        overflow: hidden;
        overflow-y: auto;
        ::-webkit-scrollbar {
            display: none;
        }
    }
}
