@import "../zIndex";
@import "./content/call-me";
@import "./content/catalog";

#rg-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zIndex-100--dialog;
    background-color: rgba(22, 22, 22, 0.4);

    // 控制弹窗显示/隐藏
    &.hidden-dialog {
        display: none;
    }

    &.show-dialog {
        display: block;
    }

    // 默认样式列表
    & .middle-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    & .right-dialog {
        position: absolute;
        top: 0;
        right: 0;
    }
}
