<%
var hasInnerArchive = theme.smart_menu.innerArchive
var hasFriends = theme.smart_menu.friends
var hasAboutme = theme.smart_menu.aboutme
%>
<div class="tools-col"
     :class="{ 'tools-show': isShow, 'hide': !isShow }"
     @click="e => stop(e)">

    <!--tools内容-->
    <div class="tools-wrap" v-clickoutside="clickCloseTools">
        <!--所有文章-->
        <% if(hasInnerArchive){ %>
        <%
            var tagsInSite = JSON.stringify(site.tags)
        %>
        <inner-archive-component
            :tags-in-site="'<%= tagsInSite %>'"
            :tools-selected="toolsSelected">
        </inner-archive-component>
        <% } %>

        <!--友情链接-->
        <% if(hasFriends){ %>
        <%
            var friendsStr = JSON.stringify(theme.friends)
        %>
        <friends-component
            friends="<%= friendsStr %>"
            :tools-selected="toolsSelected">
        </friends-component>
        <% } %>

        <!--关于我-->
        <% if(hasAboutme){ %>
        <about-me-component
            :aboutme="'<%- theme.aboutme %>'"
            :tools-selected="toolsSelected">
        </about-me-component>
        <% } %>
    </div>

</div>
