#call-me-dialog {
    position: absolute;
    width: 287px;
    height: 287px;
    top: 50%;
    left: 50%;
    margin-top: -144px;
    margin-left: -144px;
    background: url('./img/renagr.png');
}

