@import "../zIndex";

/**
    侧边目录相关css
 */

/**
    made in 18-8-3
    侧边目录按钮
 */
#article__catalog--js {
    position: fixed;
    right: 40px;
    bottom: 120px;
    z-index: $zIndex-10--catalog;

    .catalog__label {
        background-color: rgba(52, 108, 250, .8);
        color: #fff;
        font-size: 20px;
        font-family: inherit;
        width: 44px;
        height: 44px;
        line-height: 38px;
        margin: 0;
        border: 0 solid transparent;
        font-weight: 400;
        cursor: pointer;
        position: relative;
        padding: 5px 12px;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 3px 5px 0 rgba(5, 30, 63, .2);
        transition: all .25s cubic-bezier(.02, .01, .47, 1);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        .label__bread {
            position: absolute;
            top: 0;
            left: 0;
            width: 44px;
            height: 44px;
            transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
            transform: rotate(0);
        }
        .label__bread-crust-top {
            display: block;
            width: 28px;
            height: 4px;
            background: #fff;
            position: absolute;
            left: 8px;
            transition: transform 0.2s 0.2s;
            transform: translateY(12px);
            top: 0;
            border-radius: 5px;
        }
        .label__bread-crust-bottom {
            display: block;
            width: 28px;
            height: 4px;
            background: #fff;
            position: absolute;
            left: 8px;
            transition: transform 0.2s 0.2s;
            transform: translateY(-12px);
            bottom: 0;
            border-radius: 5px;
        }
    }
}
