@import "../zIndex";

/**
    侧边目录相关css
 */

/**
    made in 18-8-3
    侧边目录按钮
 */
#article__catalog--js {
    position: fixed;
    right: 40px;
    bottom: 120px;
    z-index: $zIndex-10--catalog;

    .catalog__label {
        background-color: rgba(52, 108, 250, .8);
        color: #fff;
        font-size: 20px;
        font-family: inherit;
        width: 44px;
        height: 44px;
        line-height: 38px;
        margin: 0;
        border: 0 solid transparent;
        font-weight: 400;
        cursor: pointer;
        position: relative;
        padding: 5px 12px;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 3px 5px 0 rgba(5, 30, 63, .2);
        transition: all .25s cubic-bezier(.02, .01, .47, 1);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        .label__bread {
            position: absolute;
            top: 0;
            left: 0;
            width: 44px;
            height: 44px;
            transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
            transform: rotate(0);
        }
        .label__bread-crust-top {
            display: block;
            width: 28px;
            height: 4px;
            background: #fff;
            position: absolute;
            left: 8px;
            transition: transform 0.2s 0.2s;
            transform: translateY(12px);
            top: 0;
            border-radius: 5px;
        }
        .label__bread-crust-bottom {
            display: block;
            width: 28px;
            height: 4px;
            background: #fff;
            position: absolute;
            left: 8px;
            transition: transform 0.2s 0.2s;
            transform: translateY(-12px);
            bottom: 0;
            border-radius: 5px;
        }
        .label__bread-top.cancel {
            transform: rotate(45deg);
            position: absolute;
            top: 0;
            left: 0;
            .label__bread-crust-top {
                transform: translateY(20px);
            }
        }
        .label__bread-bottom.cancel {
            transform: rotate(-45deg);
            position: absolute;
            top: 0;
            left: 0;
            .label__bread-crust-bottom {
                transform: translateY(-20px);
            }
        }
    }
}

/**
    made in 18-8-3
    侧边目录内容css
 */
.article__catalog-list {
    position: absolute;
    top: 0;
    right: 50px;
    transform: translateY(-80%);
    background: #fff;
    width: 50vw;
    max-height: 80vh;
    overflow-y: scroll;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    padding: 18px 20px;
    z-index: $zIndex-10--catalogList;
    color: #606266;
    line-height: 1.4;
    text-align: justify;
    font-size: 14px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    .toc {
        font-size: 14px;
    }
    .toc-link {
        word-break: break-all;
        border-bottom: 1px solid #ccc;
        color: #666;
    }
    li {
        list-style: none;
        line-height: 1.8;
    }
    .toc-level-2 {
        margin-left: 20px;
    }
    .toc-level-3 {
        margin-left: 40px;
    }
}

.catalog-list-transition-enter-active, .catalog-list-transition-leave-active {
    transition: opacity .3s;
}

.catalog-list-transition-enter, .catalog-list-transition-leave-to {
    opacity: 0;
}
